* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #ffcb05;
}

nav a {
  margin-right: 20px;
  color: #3c5aa6;
  text-decoration: none;
}

nav a:hover,
a:visited:hover {
  color: #2a75bb;
}
